/* 
* foreground: whitesmoke
* foreground-alpha: rgba(25,255,255,0.5)
* background: rgb(0,0,0)
* background-alpha: rgba(0,0,0,0.5)
*/

* {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  min-height: 0;
  font-size: 97%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  padding: 1px;
}

window#waybar {
  background-color: transparent;
  border-radius: 1px;
  color: whitesmoke;
}

window#waybar.hidden {
  opacity: 0.5;
}

window#waybar.empty {
  background-color: transparent;
}

window#waybar.empty #window {
  padding: 0px;
  border: 0px;
  background-color: transparent;
}

#workspaces button {
  color: #6E6A86;
  border: none;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button.active {
  color: whitesmoke;
}

#workspaces button.focused {
  color: #d8dee9;
}

#workspaces button.urgent {
  color: #11111b;
}

#workspaces button:hover {
  color: whitesmoke;
  background-color: transparent;
  border: none;
}

tooltip {
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
  color: #cba6f7;
}

#workspaces button.focused {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-bottom: 3px solid transparent;
}


#clock,
#cpu,
#disk,
#memory,
#network,
#pulseaudio,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-apps,
#custom-power,
#custom-sleep,
#custom-lock,
#idle_inhibitor,
#custom-hardware,
#pulseaudio,
#pulseaudio-slider {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  padding-left: 6px;
}

#menu,
#workspaces,
#info,
#tray,
#time {
  background-color: black;
  border-radius: 10px;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
}

#taskbar button.active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#custom-apps {
  font-size: 20px;
}


#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background-color: #1e1e2e;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: white;
}
